.advantagesContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 94%;
        color: #000;
    }

    p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 144%;
        color: #000;
    }
}