.welcomeInfoContent {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;

    img {
        max-height: 50px;
    }

    p {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 144%;
        color: #000;
    }

    span {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #000;
    }
}