.aboutCours {
    margin-top: 70px;
    position: relative;
    margin-bottom: 160px;
}

.goal,
.aboutGoal {
    margin-left: -135px;
    display: flex;
    gap: 60px;
    align-items: flex-start;
}

.aboutGoal {
    margin-left: -100px;
    gap: 130px;
}