.activeVacanciesContainer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    h2 {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 94%;
        color: #000;
    }
}

.rowsWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}