.headerTop,
.headerDark {
    padding: 30px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
}

.headerDark {
    background-color: #00093c;
}

.indicatorHeader {
    position: absolute;
    top: 84%;
    left: 0;
    width: 8% !important;
    background: linear-gradient(90deg, #f7941d 0%, #27aae1 100%);
    transition: left 0.3s ease;
    opacity: 1 !important;
}