.infoAboutProject {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.videoContainer {
    position: relative;
    width: 100%;
    max-width: 780px;
}


.video {
    position: relative;
    text-align: center;
}

.videoContainer>svg {
    position: absolute;
}

.videoOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    max-width: 780px;
    height: 100%;
}

.videoOverlay .posterImageFrame {
    width: 100%;
    max-width: 780px;
    height: 440px;
    border-radius: 17px;
}

.play {
    position: absolute;
    top: 36%;
    left: 42%;
    z-index: 4;
    cursor: pointer;
}

.dark {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 780px;
    height: 100%;
    z-index: 3;
    background-color: #00093c;
    opacity: .6;
    border-radius: 18px;
}

.video iframe {
    background-image: url('./../../../../assets/images/iframe-images/Group\ 779.png');
    border-radius: 17px;
    position: relative;
    z-index: 1;
    border: 1px solid transparent;
    width: 100%;
    max-width: 780px;
    height: 435px;
}