.headerMain {
    position: relative;
    overflow: visible;
    padding-right: 100px;
    height: 480px;
    margin-bottom: 20px;
}



.headerMain::before,
.headerMain::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
}

.headerMain::before {
    background-color: #00093c;
    left: 0;
    width: 65%;
}

.headerMain::after {
    background-image: url('/public/images/header-images/sliderSmall.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    right: 0;
    width: 40%;
}

.headerContent {
    position: relative;
    z-index: 2;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headerContent h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    color: #fff;
}

.headerContent h1 span:first-of-type {
    position: absolute;
    top: 66%;
    left: 22%;
}

.headerContent h1 span:last-of-type {
    position: absolute;
    top: 101%;
    left: 22%;
}

.headerContent p {
    position: absolute;
    top: 139%;
    left: 22.2%;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}