.aboutChessCourse {
    margin-top: 70px;
    position: relative;
    margin-bottom: 160px;
}

.goalContainer {
    display: flex;
    gap: 80px;
    align-items: flex-start;
    margin-left: -100px;
}